annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.14"
cachetools==5.5.1 ; python_version >= "3.11" and python_version < "3.14"
certifi==2025.1.31 ; python_version >= "3.11" and python_version < "3.14"
charset-normalizer==3.4.1 ; python_version >= "3.11" and python_version < "3.14"
click==8.1.8 ; python_version >= "3.11" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.14" and platform_system == "Windows"
defusedxml==0.7.1 ; python_version >= "3.11" and python_version < "3.14"
dnspython==2.7.0 ; python_version >= "3.11" and python_version < "3.14"
google-api-core==2.24.1 ; python_version >= "3.11" and python_version < "3.14"
google-api-python-client==2.161.0 ; python_version >= "3.11" and python_version < "3.14"
google-auth-httplib2==0.2.0 ; python_version >= "3.11" and python_version < "3.14"
google-auth==2.38.0 ; python_version >= "3.11" and python_version < "3.14"
googleapis-common-protos==1.67.0 ; python_version >= "3.11" and python_version < "3.14"
httplib2==0.22.0 ; python_version >= "3.11" and python_version < "3.14"
idna==3.10 ; python_version >= "3.11" and python_version < "3.14"
joblib==1.4.2 ; python_version >= "3.11" and python_version < "3.14"
motor==3.7.0 ; python_version >= "3.11" and python_version < "3.14"
nltk==3.9.1 ; python_version >= "3.11" and python_version < "3.14"
oauthlib==3.2.2 ; python_version >= "3.11" and python_version < "3.14"
proto-plus==1.26.0 ; python_version >= "3.11" and python_version < "3.14"
protobuf==5.29.3 ; python_version >= "3.11" and python_version < "3.14"
pyasn1-modules==0.4.1 ; python_version >= "3.11" and python_version < "3.14"
pyasn1==0.6.1 ; python_version >= "3.11" and python_version < "3.14"
pydantic-core==2.27.2 ; python_version >= "3.11" and python_version < "3.14"
pydantic-settings==2.7.1 ; python_version >= "3.11" and python_version < "3.14"
pydantic==2.10.6 ; python_version >= "3.11" and python_version < "3.14"
pymongo==4.11.1 ; python_version >= "3.11" and python_version < "3.14"
pyparsing==3.2.1 ; python_version >= "3.11" and python_version < "3.14"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_version < "3.14"
regex==2024.11.6 ; python_version >= "3.11" and python_version < "3.14"
requests-oauthlib==2.0.0 ; python_version >= "3.11" and python_version < "3.14"
requests==2.32.3 ; python_version >= "3.11" and python_version < "3.14"
rsa==4.9 ; python_version >= "3.11" and python_version < "3.14"
tqdm==4.67.1 ; python_version >= "3.11" and python_version < "3.14"
tweepy==4.15.0 ; python_version >= "3.11" and python_version < "3.14"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.14"
uritemplate==4.1.1 ; python_version >= "3.11" and python_version < "3.14"
urllib3==2.3.0 ; python_version >= "3.11" and python_version < "3.14"
youtube-transcript-api==0.6.3 ; python_version >= "3.11" and python_version < "3.14"
